doctype html
html
   head
      title Väderapp
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
      link(rel="stylesheet" href="/css/style.css")
   body
      .header
         h1.text-center RUBRIK
      .container
         .row
            .col-5.text-center
               .aside
                  h4 Åk dit det finaste vädret är! 
                  button.btn.btn-primary.get_data(type='button') Hämta
                  p.bus Det är finast väder i <placeholder> och du tar dig dit genom xxxxx.
            .col-7
               #map
      .footer.fixed-footer
         p.text-center Copyright


      script(src='https://code.jquery.com/jquery-3.5.1.js' integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=' crossorigin='anonymous')
      script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA-2b37L9ktBGKwKoZ46ZWl3x6md9xiBSI&callback=initMap&libraries=&v=weekly' defer='')
      script(src='/js/script.js')