doctype html
html
   head
      title Väderapp
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
      //script(src='jquery-3.5.1.min.js')  
      //script(src='//code.jquery.com/jquery-3.5.1.min.js')
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')

      link(rel="stylesheet" href="/css/style.css")
   body
      .header
         h1.text-center RUBRIK
         button.testBtn(type = 'button' name = 'refresh' id = 'test') Hide
         button.testBtn(type = 'button' name = 'refresh' id = 'test2') Restore
      .container
         .row
            .col-5.text-center
               .aside
                  .divSubmit(id = 'divSubmit')
                     h4 Åk dit det finaste vädret är! 
                     .container
                        form(method= 'get')
                           label(for="location") Sök efter din plats  
                           .row
                           .input-group.input-group-lg                  
                              input.form-control(type='text' placeholder='Skriv in plats ' name = 'place')
                              button.btn.btn-primary(type='submit')  Sök
                     .row
                        p4 Eller använd din nuvarande position
                     button.btn.btn-primary.get_data(type='button') Hämta
               
               .divResList(id = 'resList')
                  #accordion
            
                 
                  //p.bus Det är finast väder i <placeholder> och du tar dig dit genom xxxxx.   

            .col-7
               #map
      .footer.fixed-footer
         p.text-center Copyright


      script(src='https://code.jquery.com/jquery-3.5.1.js' integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=' crossorigin='anonymous')
      script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA-2b37L9ktBGKwKoZ46ZWl3x6md9xiBSI&callback=initMap&libraries=&v=weekly' defer='')
      script(src='/js/script.js')