.header {
    margin-top: 1vh;
    padding: 1%;
    box-shadow: 0 10px 10px -10px #bebebe80;
    height: 13vh;
}

h4 {
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.search {
    margin-top: 6vh;
}
.container {
    margin: 1% auto auto 1%;
    padding-bottom: 2vh;
}

#map {
    height: 70vh;
    width: 60vw;
    margin-top: 2vh;
    
    
  }

.footer {
    box-shadow: 0 -5px 9px -6px #bebebe80;
    height: 8vh;
}

.footer > p {
    padding-top: 0.5vh;
}

.card-header{
    padding: 0 !important;
}

#cardBodyP{
    margin-top: 1rem !important;
}

a {
    text-decoration: none;
    color:rgb(65, 65, 65);
}

#restore {
    margin-top: 3vh;
}

.wrapper {
    border-radius: 15px;
    box-shadow: 0 0 3px rgb(226, 226, 226);
    min-height: calc(100vh - 26vh);
    max-height: calc(100vh - 26vh);
    margin: 2vh;
}

#APIdoc {
    margin-top: 4vh;
}

.aside {
    padding: 2vh 7vh 0 7vh;
}

.back > a {
    color: white;
}

