.header {
    margin: 1% 0 1% 0;
    padding: 1%;
    box-shadow: 0 10px 10px -10px #bebebe80;
}

.container {
    margin: 1% auto auto 1%;
    padding-bottom: 2vh;
}

#map {
    height: 70vh;
    width: 110vh;
    margin: 1%;
    
  }

.footer {
    box-shadow: 0 -5px 9px -6px #bebebe80;
    height: 20px;
}

.footer > p {
    padding-top: 1.5vh;
}

.card-header{
    padding: 0 !important;
}

#cardBodyP{
    margin-top: 1rem !important;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(189, 75, 75);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(131, 32, 32) transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/*#locationButton {
    height: 70vh;
    width: 110vh;
    margin: 1%;
}*/
