.header {
    margin: 1% 0 1% 0;
    padding: 1%;
    box-shadow: 0 10px 10px -10px #bebebe80;
}

h4 {
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.search {
    margin-top: 11vh;
}
.container {
    margin: 1% auto auto 1%;
    padding-bottom: 2vh;
}

#map {
    height: 70vh;
    width: 110vh;
    margin: 1%;
    
  }

.footer {
    box-shadow: 0 -5px 9px -6px #bebebe80;
    height: 20px;
}

.footer > p {
    padding-top: 1.5vh;
}

.card-header{
    padding: 0 !important;
}

#cardBodyP{
    margin-top: 1rem !important;
}

a {
    text-decoration: none;
    color:rgb(65, 65, 65);
}

#restore {
    margin-top: 3vh;
}

.wrapper {
    border-radius: 15px;
    box-shadow: 0 0 3px rgb(226, 226, 226);
   
    margin: 2vh;
}

#APIdoc {
    margin-top: 4vh;
}

/*#locationButton {
    height: 70vh;
    width: 110vh;
    margin: 1%;
}*/
